.story{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 14px;
}

.story-profile2{
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
  height: 100%;
}

.story-desc2{
  flex: 1;
}