$instagram-gradient: linear-gradient(
  to right top,
  #fcbe66,
  #f16e36,
  #bd317f,
  #9244a0,
  #9244a0
);

.main-container {
  display: grid;
  grid-template-columns: 10% 2fr 3% 1fr 10%;
  grid-template-rows: 3% 1fr;
}

.section-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 100%;
  border: 2px solid #eff0ef;

  .section-header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 15px;
    height: 80px;
    .profile-container {
      display: flex;
      align-items: center;

      .img-box {
        width: 50px;
        height: 50px;
        border-radius: 70%;
        overflow: hidden;
        margin-right: 15px;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .section-menu {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .section-center {
    grid-row: 2 / 3;
    .img {
      width: 100%;
      height: 500px;
    }
  }

  .comment-container {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;

    .comment-header {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      .header-left {
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .header-right {
        i {
          font-size: 20px;
        }
      }
    }

    .comment-center {
      padding: 0px 20px;

      .profile-container {
        display: flex;
        align-items: center;

        .img-box {
          width: 35px;
          height: 35px;
          border-radius: 70%;
          overflow: hidden;
          margin-right: 15px;

          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-size: 15px;
          font-weight: bold;
        }

        .like {
          font-size: 15px;
        }
      }

      .history {
        margin: 10px 0px;
        .name-box {
          display: inline-block;
          width: 110px;

          .name {
            font-size: 16px;
            font-weight: bold;
          }
        }

        .content {
          font-size: 14px;
        }

        .content-time {
          font-size: 13px;
          color: #949494;
        }
      }
    }

    .comment-footer {
      position: relative;
      margin-top: 10px;
      input {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: 0px;
        border-top: 2px solid #eff0ef;
        color: #5e5e5e;

        &:focus {
          outline: none;
          border: 2px solid;
          border-image: $instagram-gradient;
          border-image-slice: 1;
          caret-color: #bd317f;
        }
      }

      button {
        position: absolute;
        top: 15px;
        right: 20px;
        border: 0px;
        background: $instagram-gradient;
        background-clip: text;
        color: transparent;
        opacity: 30%;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.aside-container {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 5% repeat(2, 2fr) 10%;

  .aside-header {
    grid-row: 1 / 2;
    padding: 10px 0px;
    .profile-container {
      display: flex;
      align-items: center;

      .img-box {
        width: 50px;
        height: 50px;
        border-radius: 70%;
        overflow: hidden;
        margin-right: 15px;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name-box {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 15px;
          font-weight: bold;
        }

        .name-sub {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
  }

  .aside-center {
    grid-row: 2 / 3;
    padding: 10px 0px;
    .profile-container {
      display: flex;
      align-items: center;

      .img-box {
        width: 50px;
        height: 50px;
        border-radius: 70%;
        overflow: hidden;
        margin-right: 15px;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name-box {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 15px;
          font-weight: bold;
        }

        .name-sub {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
  }

  .aside-footer {
  }
}

.comment-profile-box {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
}

.comment-profile-box-story {
  width: 54px;
  height: 54px;
  border-radius: 70%;
  margin-right: 10px;
  border: 2px solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(to right, #eb6b0f, #f765ff, #e42cc9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.comment-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-box {
  width: 35px;
  height: 35px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 15px;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-profile-name {
  font-size: 15px;
  font-weight: bold;
}

.comment-box {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}
.comment-box2 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.comment-content {
  font-size: 13px;
}
.feed-comment {
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 20px;
}
.icon-left .feed-icon {
  margin-right: 15px;
}
.main-right {
  width: 30%;
  margin: 0px 10px;
  text-align: center;
}

.right-main {
  border: 1px solid #eff0ef;
  margin: 10px 0px;
}

img {
  width: 100px;
  height: 100px;
}
.test {
  display: flex;
}

.right-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  border: 2px solid #eff0ef;
  margin: 5px 10px;
}

.right-footer {
  margin: 10px 10px;
  text-align: left;
  color: #bebfbe;
  font-weight: bold;
}

.right-box-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0px 20px;
}

.profile-box2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

sub {
  font-weight: bold;
  color: #949494;
}

.span-sub {
  font-size: 13px;
  color: #949494;
}
.span-sub:visited {
  color: #949494;
}

.right-box-btn {
  position: absolute;
  right: 20px;
  border: 0px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  color: #2994ff;
}

.right-box-btn:hover {
  cursor: pointer;
}
