.comments-section {
  background-color: white;
  padding: 0px 15px;
  font-size: 14px;
  padding-bottom: 10px;
}

.comment-box {
  display: flex;
  justify-content: space-between;
}

.comment-time {
  color: gray;
  margin-bottom: 5px;
}
