$instagram-gradient: linear-gradient(
  to right top,
  #fcbe66,
  #f16e36,
  #bd317f,
  #9244a0,
  #9244a0
);

.nav-container {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  align-items: center;
  height: 65px;
  margin: 0px;
  border-bottom: 2px solid #eff0ef;
  background-color: #ffffff;

  .nav-left {
    grid-column: 2 / 3;
    justify-self: left;

    i {
      background: $instagram-gradient;
      color: transparent;
      margin-right: 10px;
      font-size: 25px;
      font-weight: 800;
      background-clip: text;
    }

    span {
      font-family: 'Lobster', cursive;
      font-size: 30px;
      background: $instagram-gradient;
      color: transparent;
      background-clip: text;
    }
  }

  .nav-center {
    grid-column: 3 / 4;
    justify-self: center;
    position: relative;

    input {
      border: 2px solid transparent;
      background-image: linear-gradient(#ffffff, #ffffff), $instagram-gradient;
      background-origin: border-box;
      background-clip: content-box, border-box;
      width: 200px;
      height: 35px;
      border-radius: 8px;
      background-color: #fafbfa;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #5e5e5e;

      &::placeholder {
        background-image: url('../../assets/images/sungyongseo/search_icon.png');
        background-size: 18px;
        background-position: 50px;
        background-repeat: no-repeat;
      }

      &:focus {
        outline: none;
        animation-name: focus;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        caret-color: #bd317f;

        @keyframes focus {
          from {
            width: 200px;
          }
          to {
            width: 300px;
          }
        }

        &::placeholder {
          opacity: 0%;
        }
      }
    }
  }

  .nav-right {
    grid-column: 4 / 5;
    justify-self: right;

    i {
      background: $instagram-gradient;
      color: transparent;
      margin-left: 20px;
      font-size: 25px;
      background-clip: text;
    }
  }
}
