.main-container {
  display: grid;
  grid-template-columns: 10% 2fr 1fr 10%;
  grid-template-rows: 65px 1fr;
}

.nav-container {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  align-items: center;
  margin: 0px;
  border-bottom: 2px solid #EFF0EF;
  background-color: #FFFFFF;

  .nav-left {
    grid-column: 2 / 3;
    justify-self: left;

    .nav-title {
      font-family: 'Lobster', cursive;
      font-size: 30px;
    }

    .nav-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  .nav-center {
    grid-column: 3 / 4;
    justify-self: center;

    .nav-search {
      border: 1px solid #BEBFBE;
      width: 200px;
      height: 30px;
      border-radius: 3px;
      background-color: #FAFBFA;
      &::placeholder {
        background-image: url('../../../public/images/navImage/search_icon.png');
        background-size: 15px;
        background-position: 60px;
        background-repeat: no-repeat;
        text-align: center;
      }
      &:focus {
        border: 0px;
        outline: 2px solid  #BEBFBE;
      &::placeholder {
        background-image: none;
        opacity: 0%;
      }
    }
  }
}
.nav-right {
  grid-column: 4 / 5;
  justify-self: right;

  .nav-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }
} 
}